@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');

$light-color: #FFF8F0;
$dark-color: #22333B;
$yellow: #FFFACD;
$teal: #008080;
$white: #ffffff;
$highlight-color: $yellow;


#ocrcc-chatbox {
  font-family: 'Assistant', 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  outline: 2px solid $teal;
  outline-offset: -2px;

  .message-window {
    background-color: $white;
    flex: 1 0 auto;
    padding: 0.5rem;
  }

  .message {
    .sender {
      font-weight: bold;
      color: $teal;
    }

    .text {
      padding: 0.5rem 0.75rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      width: fit-content;
    }

    &.from-me {
      display: flex;
      justify-content: flex-end;

      .text {
        background-color: $dark-color;
        color: $white;
        border-radius: 15px 15px 0 15px;
        margin-left: 10%;
      }
    }

    &.from-support {
      display: flex;
      justify-content: flex-start;

      .text {
        background-color: $highlight-color;
        color: $dark-color;
        border-radius: 15px 15px 15px 0;
        margin-right: 10%;
      }
    }
  }

  .input-window {
    flex: 0 0 auto;

    form {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }

    input[type="text"] {
      font-size: 1rem;
      padding: 1rem;
      border: none;
      flex: 1 0 auto;
      border: none;
      outline: 2px solid $teal;
      outline-offset: -2px;
      color: $dark-color;

      &:focus {
        border: none;
        /*outline: 2px solid $teal;*/
      }
    }

    input[type="submit"] {
      background-color: $teal;
      height: 100%;
      padding: 1em;
      font-size: 1rem;
      color: $white;
      font-weight: bold;
      border: none;
    }
  }
}